! ===================
! urxvt configuration
! ===================

URxvt*scrollBar:	false
URxvt*letterSpace: 	0

! urxvt*font: 		xft:monospace:size=12

! URxvt*font:		-xos4-terminus-medium-*-*-*-12-*-*-*-*-*-*-u
! URxvt*boldFont:	-xos4-terminus-medium-*-*-*-12-*-*-*-*-*-*-u

URxvt*font:			-xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-1, \
					xft:xos4 Terminess Powerline:pixelsize=12, \
					xft:DejaVu Sans:style=Book:size=8

URxvt*boldFont:		1-xos4-terminus-medium-*-*-*-12-*-*-*-*-*-iso10646-1, \
					xft:xos4 Terminess Powerline:pixelsize=12, \
					xft:DejaVu Sans:style=Book:size=8

URxvt.iso14755:		false
URxvt*utf8:			true

! =================
! Xft configuration
! =================

Xft.dpi:          	96
Xft.antialias:     	true
Xft.rgba:			subpixel
Xft.hinting:       	true
Xft.hintstyle:		hintslight
! Xft.lcdfilter:	lcddefault

! ============
! color scheme
! ============

#include ".themes/base16-tomorrow-night-256.Xresources"

! =================
! rofi color scheme
! =================

rofi.color-enabled:		true
rofi.separator-style: 	solid
rofi.color-normal:		argb:00000000, #D8DEE9, argb:00000000,  #FAC863,  #1B2B34
rofi.color-urgent:		argb:00000000, #F99157, argb:00000000,  #F99157,  #1B2B34
rofi.color-active:		argb:00000000, #6699CC, argb:00000000,  #6699CC,  #1B2B34
rofi.color-window:		argb:ee222222, #FAC863, #FAC863
rofi.font:				xos4terminus medium 12
